<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.gewei.www.ims1802.user.mapper.RoleRelationPrivilegeMapper">
	<resultMap id="BaseResultMap"
		type="com.gewei.www.ims1802.user.model.RoleRelationPrivilege">
		<id column="relation_id" jdbcType="INTEGER" property="relationId" />
		<result column="role_id" jdbcType="INTEGER" property="roleId" />
		<result column="privilege_id" jdbcType="INTEGER"
			property="privilegeId" />
		<result column="first_create_by" jdbcType="INTEGER"
			property="firstCreateBy" />
		<result column="first_create_date" jdbcType="TIMESTAMP"
			property="firstCreateDate" />
		<result column="description" jdbcType="VARCHAR"
			property="description" />
		<result column="last_update_by" jdbcType="INTEGER"
			property="lastUpdateBy" />
		<result column="last_update_date" jdbcType="TIMESTAMP"
			property="lastUpdateDate" />
	</resultMap>
	<sql id="Base_Column_List">
		relation_id, role_id, privilege_id, first_create_by, first_create_date,
		description,
		last_update_by, last_update_date
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from role_relation_privilege
		where relation_id = #{relationId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from role_relation_privilege
		where relation_id = #{relationId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" keyColumn="relation_id"
		keyProperty="relationId"
		parameterType="com.gewei.www.ims1802.user.model.RoleRelationPrivilege"
		useGeneratedKeys="true">
		insert into role_relation_privilege (role_id, privilege_id, first_create_by,
		first_create_date, description, last_update_by,
		last_update_date)
		values (#{roleId,jdbcType=INTEGER}, #{privilegeId,jdbcType=INTEGER},
		#{firstCreateBy,jdbcType=INTEGER},
		#{firstCreateDate,jdbcType=TIMESTAMP},
		#{description,jdbcType=VARCHAR}, #{lastUpdateBy,jdbcType=INTEGER},
		#{lastUpdateDate,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" keyColumn="relation_id"
		keyProperty="relationId"
		parameterType="com.gewei.www.ims1802.user.model.RoleRelationPrivilege"
		useGeneratedKeys="true">
		insert into role_relation_privilege
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="roleId != null">
				role_id,
			</if>
			<if test="privilegeId != null">
				privilege_id,
			</if>
			<if test="firstCreateBy != null">
				first_create_by,
			</if>
			<if test="firstCreateDate != null">
				first_create_date,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="lastUpdateBy != null">
				last_update_by,
			</if>
			<if test="lastUpdateDate != null">
				last_update_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="roleId != null">
				#{roleId,jdbcType=INTEGER},
			</if>
			<if test="privilegeId != null">
				#{privilegeId,jdbcType=INTEGER},
			</if>
			<if test="firstCreateBy != null">
				#{firstCreateBy,jdbcType=INTEGER},
			</if>
			<if test="firstCreateDate != null">
				#{firstCreateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateBy != null">
				#{lastUpdateBy,jdbcType=INTEGER},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.gewei.www.ims1802.user.model.RoleRelationPrivilege">
		update role_relation_privilege
		<set>
			<if test="roleId != null">
				role_id = #{roleId,jdbcType=INTEGER},
			</if>
			<if test="privilegeId != null">
				privilege_id = #{privilegeId,jdbcType=INTEGER},
			</if>
			<if test="firstCreateBy != null">
				first_create_by = #{firstCreateBy,jdbcType=INTEGER},
			</if>
			<if test="firstCreateDate != null">
				first_create_date = #{firstCreateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateBy != null">
				last_update_by = #{lastUpdateBy,jdbcType=INTEGER},
			</if>
			<if test="lastUpdateDate != null">
				last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where relation_id = #{relationId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.gewei.www.ims1802.user.model.RoleRelationPrivilege">
		update role_relation_privilege
		set role_id = #{roleId,jdbcType=INTEGER},
		privilege_id = #{privilegeId,jdbcType=INTEGER},
		first_create_by = #{firstCreateBy,jdbcType=INTEGER},
		first_create_date = #{firstCreateDate,jdbcType=TIMESTAMP},
		description = #{description,jdbcType=VARCHAR},
		last_update_by = #{lastUpdateBy,jdbcType=INTEGER},
		last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP}
		where relation_id = #{relationId,jdbcType=INTEGER}
	</update>

	<select id="findList"
		parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from role_relation_privilege 
		where role_id = #{roleId,jdbcType=INTEGER}
		order by last_update_date desc
	</select>
	
	<delete id="deleteByRoleId"
		parameterType="java.lang.Integer">
		delete from role_relation_privilege
		where role_id = #{roleId,jdbcType=INTEGER}
	</delete>
	
	<insert id="batchInsert" keyColumn="relation_id" parameterType="java.util.List"
		keyProperty="relationId"
		useGeneratedKeys="true">
		insert into role_relation_privilege (role_id, privilege_id, first_create_by,
		first_create_date, description, last_update_by,
		last_update_date) values 
		<foreach collection="list" item="item" separator=",">
		(#{item.roleId,jdbcType=INTEGER},
		 #{item.privilegeId,jdbcType=INTEGER},
		#{item.firstCreateBy,jdbcType=INTEGER},
		#{item.firstCreateDate,jdbcType=TIMESTAMP},
		#{item.description,jdbcType=VARCHAR}, #{item.lastUpdateBy,jdbcType=INTEGER},
		#{item.lastUpdateDate,jdbcType=TIMESTAMP})		
		</foreach>
	</insert>
	
	<delete id="batchDeleteByPrivilegeId"
		parameterType="java.lang.Integer">
		delete from role_relation_privilege
		where privilege_id = #{privilegeId,jdbcType=INTEGER}
	</delete>
</mapper>